form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
  
form > fieldset {
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    background-color: #a2fab1;
    border-radius: 20px;
    font-size: .85em;
    padding: 10px;
    margin: 10px;
}

div#formRow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 7px 0px;
}

legend {
    padding: 0px 5px;
    font-size: 1.2em;
    font-style: italic;
}

label {
    margin-right: 20px;
}

div#button {
    text-align: center;
    width: 100%;
}

div#formRow > fieldset > legend {
    font-size: 1.0em;
    opacity: .7;
}

div#formRow > fieldset > label {
    margin-left: 15px;
    margin-right: 0px;
}

textarea {
    margin-left: 20px;
}

fieldset#contactInfo {
    box-shadow: lightgray 10px 10px 10px,
                lightgray -10px -10px 10px;
}