@charset "utf-8";

html {
    background-color: white;
}

body {
    min-width: 640px;
    max-width: 1020px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 2px;
    font-size: 1.1em;
}

footer {
    text-align: center;
    margin-top: 20px;
}