@charset "utf-8";

html {
    background-color: lightgreen;
}

body {
    min-width: 640px;
    max-width: 920px;
    margin: 0px auto;
    width: 100%;
    background-color: white;
}

div.main {
    padding: 5px;
}

footer {
    text-align: center;
    font-size: 1.1em;
    background-color: green;
    height: 30px;
    line-height: 30px;
    color: white;
    clear: both;
}

nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: thin solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}

nav {
	display: table;
	width: 98%;
	margin: 0 auto;
	float: none;
}

nav ul {
	display: table-row;
	margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    display: block;
}

nav a:hover {
    color: white;
    background-color: green;
}

header img {
    width: 100%;
}
