@charset "utf-8";

html {
    background-color: lightgreen;
}

body {
    min-width: 640px;
    max-width: 920px;
    margin: 0px auto;
    width: 100%;
    background-color: white;
}

footer {
    text-align: center;
    font-size: 1.1em;
    background-color: green;
    height: 30px;
    line-height: 30px;
    color: white
}