@charset "utf-8";

section {
    float: left;
    width: 50%;
    margin-left: 10px;
}

aside {
    float: right;
    width: 35%;
    padding: 0px 10px;
    background-color: lightgray;
    margin-top: 5px;
}

