@charset "utf-8";

/*

*/

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}

body > header > img {
    width: 100%;
}

nav {
	display: table;
	width: 98%;
	margin: 0 auto;
	float: none;
}
nav ul {
	display: table-row;
	margin: 0;
}
nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: thin solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}

footer {
    background-color: #0C2D48;
    color: #BFD7ED;
    text-align: center;
    padding: 5px;
}
