@charset "utf-8";

/**/

nav ul li a , nav ul li a:visited {
    font-size: 1.2em;
    color: black;
    display: block;
    text-decoration: none;
}

nav ul li a:active ,nav ul li a:hover {
    background-color: #71d1ea;
}