@charset "utf-8";

/**/

nav ul li a, nav ul li a:visited {
    font-size: 1.2em;
    color: black;
    display: block;
    text-decoration: none;
}

nav ul li a:active, nav ul li a:hover {
    background-color: #71d1ea;
}

article h1 {
    font-size: 2em;
    margin-left: 5px;
}

article dl {
    margin-left: 15px;
}

article dl dt {
    font-size: 1.3em;
    padding-bottom: 5px;
}

article dl dd {
    font-size: 1.1em;
    padding-bottom: 25px;
}

article a, article a:visited {
    text-decoration: none;
    color: black;
}

article a:active, article a:hover {
    color: lightcoral;
}