@charset "utf-8";

/*
   Author: Jake Runyan
   Date: 9/25/2023
*/

body {
    box-shadow: rgb(25, 25, 25) 20px 0px 35px,
                rgb(25, 25, 25) -20px 0px 35px;
    background: url(../images/back.png) 100% / cover no-repeat;
    background-blend-mode: saturation;
}

figure img {
    border-radius: 50px;
    
}

div img {
    box-shadow: rgb(71, 71, 71) 10px 10px 10px;
}

article img {
    border-radius: 10px;
    filter: saturate(.8);
}

aside {
    perspective: 800px;
}

header img {
    filter: brightness(.9);
}

figure {
    transform: translateX(10px) rotateY(-10deg);
}

aside#description {
    width: 30%;
    margin: 20px 100px;
    padding: 0px 10px;
    background: radial-gradient(#0C2D48 50%, black);
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 22px;
}